*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/background-simplon-pattern.svg);
}
.navigation{
    width: 100%;
    height: 120px;
    background-color: #ce0033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.checkbtn{
    font-size: 30px;
    cursor: pointer;
}
.fa-bars{
    margin-left: 5px;
    color:#ce0033;
    font-size: 30px;
    cursor: pointer;
}
.menu-main{
    margin-top: 15px;
    margin-left: 60px;
    border:2px solid #ce0033;
    width: 3%;
    height: 35px;
}
.menu{
    display: none;
    position: absolute;
    background-color: #ce0033;
    z-index: 5;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: white;
    text-decoration: none;
}

.menu-main:hover .menu{
    display: block;
}
.principale{
    display: flex;
    height: 350px;
    width: 70%;
}
.simplon{
 width: 472px;
 display: flex;
 flex-direction: column;
 justify-content: center;
} 
.image{
    
    width: 400px;
}
.formulaire{
    border:2px solid #ce0033;
    width: 472px;
    height: 420px;
    padding-bottom: 10px;
}  
.inscri{
    background-color: #ce0033;
    color: white;
    text-align: center;
}
.ranger{
    display: flex;
    justify-content: space-around;
    margin-top:15px;
}
.ranger input{
    border-radius: 10px;
}
.aligne{
    margin-left: 150px;
}
.alige{
    margin-left: 130px;
}
.algne{
    margin-left: 75px;
}
.alg{
    margin-left: 50px;  
}
.gauche{
    margin-left: 15px;
}
.aire{
    display: flex;
    justify-content: center;
}
.aire textarea{
    border-radius: 15px;
}
.centre input{
    background-color: #ce0033;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    margin-left: 120px;
    margin-top: 10px;
}


@media screen and (min-width:200px) and (max-width:740px){
   
    .simplon{
        display: none;
    }
    .fa-bars{
        margin-left:0;
        color:#ce0033;
        font-size: 30px;
        cursor: pointer;
    }
    .menu-main{
        margin-top: 0;
        margin-left: 0;
        border:2px solid #ce0033;
        width:10%;
        height: 35px;
    }
    .menu li{
        list-style: none;
    }
    .menu a{
        text-decoration: none;
        color: white;
    }
    .menu li a:hover{
        color: white;
        text-decoration: none;
    }
    .menu-main:hover .menu{
        display: block;
    }
    h1{
        font-size: 16px;
    }
    .formulaire{
        display: block;
        width:100%;
    }
    .aligne{
        margin-left: 0;
    
    }
    .alige{
        margin-left: 0;
    }
    .algne{
        margin-left:0;
    }
    .alg{
        margin-left:0;  
    }
    .centre{
        background-color: #ce0033;
        text-align: center;
        border-radius: 15px;
        width: 50%;
      
    }


}
@media screen and (min-width:740px) and (max-width:1024px){
    .simplon{
        display: none;
    }


}